.header {
  margin: 2rem;
}

.header_name {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 1rem 1rem;
}

.note-form{
    display: flex;
    justify-content: center;
}

#note-input{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid gray;
    flex-grow: 2;
}

.btn-save{
    background-color: hsl(135, 99%, 42%);
    color: white;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 1.5rem;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.nav-sec{
  margin: 2rem;
  display: flex;
  justify-content: center;

}

.nav-link{
  display: flex;
  justify-self: center;
  text-transform: capitalize;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: auto;
}